<% if notice.present? %>
  <%= notice %>
<% end %>

<% if alert.present? %>
  <%= alert %>
<% end %>
<%= link_to 'New Dog', new_dog_path %>
<ol>
  <% @dogs.each do |dog| %>
    <li><%= link_to "#{dog.name} - #{dog.age}", dog_path(dog) %></li>
  <% end %>
</ol>